.dashboard-button {
    font-size: 1.5em; /* Large text for buttons */
    margin-bottom: 10px;
    max-width: 150px;
    min-width: 100px;
    min-height: 150px;
    color: aliceblue;
}

.dashboard-icon {
    font-size: 2em; /* Large icons */
    margin-bottom: 10px;
    padding: 15px;
}

.dashboard-button:hover {
    text-decoration: none;
    color: rgb(9, 12, 12);
    transform: scale(1.1);
}

.admin-panel {
    display: flex ;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 0px;
    padding: 20px;
    margin: 20px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80vh; 
}

.admin-header {
    align-items: center;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-right: 20px;
}

.captains-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;


}