{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/login.css">

<div class="container-login">
    <div class="content-login" style="padding-bottom: 25px;">
        {% if current_user.is_authenticated %}
        <div class="container-builder">Welcome back, {{ current_user.name }}!</div>
        {% else %}
        <h1></h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="container-base" style="padding-bottom: 35px;">
                <div class="container-builder">
                    <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

                </div>
            </div>
            <div class="container-content" style="padding-bottom: 15px;">
                <form action="/login" method="post">
                    {{ form.hidden_tag() }}
                    <label for="username" class="form-group">Pirate name:</label><br>
                    <input type="text" class="input-glass" id="username" name="username"><br>
					<br>
                    <label for="password" class="form-group">Secret Password:</label><br>
                    <input type="password" class="input-glass" id="password" name="password"><br>
                    
                    <div class="container-buttons-login">
                        <input type="submit" value="Login" class="button-glass">
                        <a href="/register" class="button-glass">Sign up</a>
                        <a href="{{ url_for('main.reset_password_request') }}" class="btn btn-danger button-glass">Forgot Password?</a>
                    </div>
                </form>               
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}
