{% extends "base.html" %}
{% block content %}

<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/newstyle.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container-login">
                <div class="content-login" style="padding-bottom: 25px;">
					<div class="container-base" style="padding-bottom: 15px;">
						<div class="container-builder">
							<img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">
						</div>
					</div>
                    <h2 style="text-align: center; margin-top: 5px; padding-top: 15px;">Register now!</h1>
                        (You can only register if your email has been whitelisted)
						<div class="container-content" style="padding-bottom: 15px;">
							<form action="{{ url_for('main.register', token=request.args.get('token')) }}" method="post">

							{{ form.csrf_token }}
							<br>
							<div class="form-group">
								{{ form.username.label }}
								{{ form.username(class_="input-glass") }}
							</div>
							<br>
							<div class="form-group">
								{{ form.email.label }}
								{{ form.email(class_="input-glass") }}
							</div>
							<br>
							<div class="form-group">
								{{ form.password.label }}
								{{ form.password(class_="input-glass") }}
							</div>
							<br>
							<input type="submit" value="Register" class="button-glass"">
						</div>
                    </form>
                </div>
        </div>
    </div>
</body>

{% endblock %}