{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="glass-panel">
		<div class="messages">
			<div class="ai">
				<div class="speech-bubble ai">
					<h1>Reset Password</h1>
					<p>Please enter your email address to receive a link to reset your password.</p>
					<br>
					<form action="{{ url_for('main.reset_password_request') }}" method="post" style="margin: 0px; padding: 0px;">
						{{ form.hidden_tag() }}
						<input type="email" name="email" class="input-glass" placeholder="Enter your email">
						<br>
						<br>
						<input type="submit" class="button-glass" value="Request Password Reset">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}